{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium van OSLO Vrachtwagenparkeren is een verzameling van alle verschillende elementen die belangrijk zijn voor het beschrijven van vrachtwagens, parkeerplaatsen -en faciliteiten, aanbieders en de gerelateerde aspecten rond de incentivering voor organisaties om hiervan gebruik te maken.</p>
<p>De meeste termen werden gemapt op meerdere bestaande standaarden: <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-mobiliteit-trips-en-aanbod.html">OSLO Trips en Aanbod</a>, <a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-incentiveringsplatform.html">OSLO Incentiveringsplatform</a>, <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-vervoersknooppunten.html">OSLO Vervoersknooppunten</a> en <a href="https://www.mobivoc.org/en/news/2019/mobivoc-release-en.html">Mobivoc</a>.</p>
<p>Daarnaast definieert dit vocabularium enkele eigen termen. Deze zijn te vinden onder Klassen en Eigenschappen.</p>
{% endblock %}
